.list-form-btn-container {
  margin: 20px;
  text-align: center;
}

.list-label {
  cursor: pointer;
  display: inline-block;
  padding: 10px 0;
  width: 100%;
}

.list-select-cohort {
  padding: 20px;
}

.list-select-container {
  font-size: 1.2em;
}

.list-select-month-week {
  padding: 20px;
}

.list-tr:nth-child(even) {
  background-color: #eee;
}

.list-tr:hover {
  background-color: #dae5e3;
}