.add-cohort, .add-graduation {
  font-size: 1.2em;
  padding: 20px;
}

.add-directions {
  display: inline-block;
  max-width: 700px;
  text-align: left;
  margin: 20px 0;
}

.add-directions-container {
  text-align: center;
}

.add-directions-list {
  margin: 10px 20px;
}

.add-student {
  font-size: 1.2em;
  padding: 5px;
}

.add-student-btn {
  margin: 10px 0 50px 0;
  padding: 5px;
  background: transparent;
  border: 3px solid #07aa9e;
  border-radius: 3px;
  font-size: 0.8em;
  cursor: pointer;
  transition: 0.3s;
}

.add-student-btn:hover {
  background-color: #e0f7f4;
}