* {
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-family: "Interstate Light", sans-serif;
}

nav {
  display: inline-block;
  width: 100%;
  height: 27px;
  background-color: #07aa9e;
  text-align: center;
  padding-top: 10px;
}

nav .link {
  color: black;
  cursor: pointer;
  padding: 10px 15px;
  text-decoration: none;
  border-right: 1px solid black;
  transition: 0.3s;
}

nav .link:hover {
  background-color: #07968c;
}

nav .link:last-child {
  border: none;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

thead {
  border-bottom: 3px solid black;
}

tr {
  text-align: center;
}

td, th {
  border: 1px solid black;
  min-width: 200px;
}

th {
  background-color: #07aa9e;
}

.main-container {
  margin: 40px;
  text-align: center;
}

.submit-btn {
  cursor: pointer;
  font-size: 1.2em;
  background-color: #07aa9e;
  color: white;
  padding: 10px;
  width: 100px;
}