.table {
  margin: 40px auto;
}

.tbody:nth-child(2n-1) {
  background-color: #eee;
}

.tbody:nth-child(2n) {
  background-color: transparent;
}

.tbody:hover {
  background-color: #dae5e3;
}

.td, .th {
  padding: 10px 20px;
}

.td-names {
  text-align: left;
}